---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,700&display=swap');


// Syntax highlighting @import is at the bottom of this file


/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
    background: $cream;
  font: 16px/1.4 $ubuntu-font;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $ubuntu-font;
  color: $darkGray;
  font-weight: 400;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 1.875em;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
  font-weight: 100;
  line-height: 1.5;
}

a {
  color: $coral;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $coral;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
  border-radius: 4px;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  font-size: .7em;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 0%;
  }
}

.site-info {
  float: left;

.site-info a, a:active, a:focus {
    font-size: inherit;
    font-weight: 100;
    border: 0;
}

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 5px 0 0 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $ubuntu-font;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: normal;
}
.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 10px;
  font-weight: lighter;
  // margin-bottom: 50px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $ubuntu-font;
  font-size: .8em;


  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: .8em;
  }

  a {
    margin-left: 20px;
    color: $coral;
    text-align: right;
    font-weight: 300;
    letter-spacing: .5px;

    @include mobile {
      margin: 0 10px;
      color: $coral;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 6em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post > .post-title > h1 {
  font-size: 1em;
  margin-bottom: 0;
}

.posts > .post > .post-title a:focus, a:active {
  font-size: 1em;
  font-weight: 400;
  border: 0;
}

.post .btn a:hover, .post a:active, .post a:focus {
    background-color:transparent;
    border: 0;
    // color: #f27466;
    font-size: 1em;
    font-weight: 400;
    border-radius: 0px;
}

.entry > h1 {
  font-size: 1em;
}
.entry > h2 {
  font-size: .7em;
}
.entry > p {
  margin-top: 0px;
}
.author {
  font-size: .7em;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}
.posts > .post > #index-tags a , a:active, a:focus {
    font-size: .7em;
    font-weight: 100;
    border: 0;
}

.post > #post-tags a , a:active, a:focus {
    font-size: .7em;
    font-weight: 100;
    border: 0;
}

#nav-links a , a:active, a:focus {
    font-size: inherit;
    font-weight: 100;
    border: 0;
}

.entry-meta {
    font-weight: 100;
    font-size: .7em;

    @include mobile {
      font-size: .7em;
    }
}

.post {
  blockquote {
    margin: .5em .8em;
    border-left: 1px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: .7em;
    font-style: italic;
    text-align: left;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    padding: 5px 10px;
    text-transform: uppercase;
  }
  .btn {
      margin-top: 20px;
  }
  .btn a {
      background-color: $coral;
      color: #fff;
      font-size: .7em;
      font-weight: 100;
      border: 1px solid $coral;
      border-radius: 3px;
  }
  .btn a:hover, a:active, a:focus {
      background-color: transparent;
      border: 1px solid $coral;
      color: $coral;
      font-size: .7em;
      font-weight: 100;
      border-radius: 3px;
  }
}

#archives h1 {
    font-size: 1em;
}

.archive-group h3 {
    font-size: .8em;
    font-weight: 300;
}

.archive-group h4 {
    font-size: .8em;
    font-weight: 300;
}

.archive-group a {
    text-decoration: underline;
}

.wrapper-footer {
  margin-top: 50px;
  // border-top: 1px solid #ddd;
  // border-bottom: 1px solid #ddd;
  background-color: $cream;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
